<footer>
	<div class="container py-5">
		<div class="row footer-gap">
			<div class="col-lg-4 col-sm-6">
				<h3 class="text-capitalize mb-3">Address</h3>
				<address class="mb-0">
					<p class=""><span class="fa fa-map-marker"></span> wz 98 new delhi airport, king cobra gali no 786 <br>Block, new delhi .</p>
					<p><span class="fa fa-clock-o"></span> Timings : 10 a.m to 6 p.m</p>
					<p><span class="fa fa-phone"></span> +91 8976 2334</p>
					<p><span class="fa fa-envelope-open"></span> <a href="mailto:info@example.com">kmcollections@gmail.com</a></p>
				</address>
			</div>
			<div class="col-lg-4 col-sm-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
				<h3 class="text-capitalize mb-4">Meanwhile On Instagram</h3>
				<div class="images">
					<a class="pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta1.jpg" alt="" class="img-fluid"/> </a>
					<a class="pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta2.jpg" alt="" class="img-fluid"/> </a>
					<a class="pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta3.jpg" alt="" class="img-fluid"/> </a>
					<a class="pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta4.jpg" alt="" class="img-fluid"/> </a>
					<a class="pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta5.jpg" alt="" class="img-fluid"/> </a>
					<a class="mt-2 pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta6.jpg" alt="" class="img-fluid"/> </a>
					<a class="mt-2 pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta7.jpg" alt="" class="img-fluid"/> </a>
					<a class="mt-2 pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta8.jpg" alt="" class="img-fluid"/> </a>
					<a class="mt-2 pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta9.jpg" alt="" class="img-fluid"/> </a>
					<a class="mt-2 pr-2" href="https://www.Instagram.com"> <img src="../../assets/images/insta1.jpg" alt="" class="img-fluid"/> </a>
				</div>	
			</div>
			<div class="col-lg-3 offset-lg-1 col-sm-6 mt-lg-0 mt-sm-5 mt-4">
				<h3 class="text-capitalize mb-3"> Follow us</h3>
				<p class="mb-4">Follow us on social media</p>
				<ul class="social mt-lg-0 mt-3">
					<li class="mr-1"><a href="https://m.facebook.com"><span class="fa fa-facebook"></span></a></li>
					<li class="mr-1"><a href="https://mobile.twitter.com/login"><span class="fa fa-twitter"></span></a></li>
					<li class="mr-1"><a href="https://www.google-plus.com"><span class="fa fa-google-plus"></span></a></li>
					<li class=""><a href="https://www.linkedin.com"><span class="fa fa-linkedin"></span></a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="copyright pb-5 text-center">
		<p>© Wedding Sizzler.| Design by Khumani & M.Nandan</p>
	</div>
</footer>